<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div class="modal fade" id="meuModal" tabindex="-1" th:fragment="modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Atenção</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
	        <button id="ok_confirm" type="button" class="btn btn-primary">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>